if SHIELD_MCUTESTER_LEFT

config ZMK_KEYBOARD_NAME
    default "McuTester"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MCUTESTER_LEFT || SHIELD_MCUTESTER_RIGHT

config ZMK_SPLIT
    default y
    
endif
	
