if SHIELD_DIRECT03XD_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Direct03xD"

#currently central is the left side
config ZMK_SPLIT_ROLE_CENTRAL
    default y
    
config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY
    default y 

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING
    default y

endif

if SHIELD_DIRECT03XD_LEFT || SHIELD_DIRECT03XD_RIGHT

config ZMK_HID_KEYBOARD_REPORT_SIZE
    default 12

config ZMK_POINTING
    default y

config ZMK_SPLIT
    default y
    
#Enable deep sleep
config ZMK_SLEEP
    default y
    
#Enable quicker idle state at 15s instead of 30s
config ZMK_IDLE_TIMEOUT
    default 15000 
    
config ZMK_BLE_EXPERIMENTAL_CONN
    default y
    
choice BT_CTLR_TX_PWR
    default BT_CTLR_TX_PWR_MINUS_8
endchoice
    
config BT_PERIPHERAL_PREF_MIN_INT
    default 48
    
config BT_PERIPHERAL_PREF_MAX_INT
    default 80
    
config BT_PERIPHERAL_PREF_LATENCY 
    default 3

config BT_PERIPHERAL_PREF_TIMEOUT
    default 800
    
endif

