if SHIELD_DIRECT03XD_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Direct03xD"

#currently central is the left side
config ZMK_SPLIT_ROLE_CENTRAL
    default y
    
#deep sleep left half in 60 minutes
config ZMK_IDLE_SLEEP_TIMEOUT
    default 3600000	
    
config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY
    default y 

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING
    default y

endif

if SHIELD_DIRECT03XD_LEFT || SHIELD_DIRECT03XD_RIGHT

config ZMK_HID_KEYBOARD_REPORT_SIZE
    default 12

config ZMK_POINTING
    default y

config ZMK_SPLIT
    default y
    
#Enable deep sleep
config ZMK_SLEEP
    default y

#Idle sleep after 20 seconds
config ZMK_IDLE_TIMEOUT
    default 20000
    
endif


if SHIELD_DIRECT03XD_RIGHT

#deep sleep right half in 10 minutes
config ZMK_IDLE_SLEEP_TIMEOUT
    default 600000	

endif

