#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>


#include <behaviors/ir_tv.dtsi> // include for the ceasar reference


/ {    
    combos {
        compatible = "zmk,combos";
        
        combo_activate_layer_3 {
            timeout-ms = <50>;
            key-positions = <0 2>;
            bindings = <&ir_tv>;
        };
    };
    
    keymap {
        compatible = "zmk,keymap";
            
        base_layer {
            display-name = "base_layer";
            bindings = <
                &kp N1 &kp N2 &kp N3
            >;
        }; 
    };
};
